#adminmenu .toplevel_page_weather-worm div.wp-menu-image.svg {
  background-image: none !important;
}

#adminmenu .toplevel_page_weather-worm div.wp-menu-image img {
  display: none;
}

#adminmenu .toplevel_page_weather-worm div.wp-menu-image:before {
  background: currentColor;
  content: "";
  display: block;
  height: 20px;
  margin: 7px auto 0;
  padding: 0;
  width: 20px;
  -webkit-mask-image: url("../icon.svg");
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-image: url("../icon.svg");
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
}
